```css
/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

/* visual guide */
* {
	outline: red dashed 2px;
}
/* style the entire page */
body {
	height: 100vh;
	margin: 0;
	padding: 0;
	background: linear-gradient(180deg, #1d2671 0%, #1c1d21 65%);
}
/* center everything inside of main box */
#main-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* style box for robot voice machine */

/* style title of app */

/* style text area */

/* style button box */

/* style speak button */

```